header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.img-opacity {
  opacity: 0.3;
}

.i-opacity {
  opacity: 1 !important;
}

.overlay-opacity {
  opacity: 0.9 !important;
}

.textlay-opacity {
  opacity: 1 !important;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

* {
  list-style: none;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.header-part {
  background-color: #f5f5f5;
}

.header-part .hd-1 {
  height: 3em;
}

.header-part .hd-1 .hd-1-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-part .hd-1 .hd-1-icons ul li {
  display: inline;
  padding-right: 3em;
  font-size: 1.2em;
}

.header-part .hd-1 .hd-1-icons ul li a {
  color: #888888;
}

.header-part .hd-1 .hd-1-icons ul li a i:hover {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  color: #e65540;
}

.header-part .hd-1 .hd-1-advert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-part .hd-1 .hd-1-advert p {
  text-align: center;
  color: #a6a6a6;
  display: inline-block;
}

.header-part .hd-1 .hd-1-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-part .hd-1 .hd-1-email div {
  display: inline-block;
}

.header-part .hd-1 .hd-1-email div span {
  margin-right: 1.1em;
  color: #a6a6a6;
}

.header-part .hd-1 .hd-1-email div select {
  background-color: transparent;
  border: none;
  color: #888888;
  outline: none;
}

.header-part .hd-2 {
  background-color: #ffffff;
  height: 5em;
}

.header-part .hd-2 .logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-part .hd-2 .nav-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-part .hd-2 .nav-part .navv {
  width: 100%;
}

.header-part .hd-2 .nav-part .navv .navvv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-part .hd-2 .nav-part .navv .navvv li a {
  color: #333;
}

.header-part .hd-2 .nav-part .navv .navvv li a:hover {
  border-bottom: 1px solid black;
}

.header-part .hd-2 .nav-part .navv .menu ul {
  position: absolute;
  z-index: 1;
  background-color: #222;
  width: 10em;
  height: 7em;
  padding: 1em !important;
  display: none;
}

.header-part .hd-2 .nav-part .navv .menu ul li {
  padding: .15em !important;
}

.header-part .hd-2 .nav-part .navv .menu ul li a {
  color: #fff;
}

.header-part .hd-2 .nav-part .navv .menu ul li a:hover {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  color: #e65540;
  text-decoration: none;
}

.header-part .hd-2 .nav-part .navv:hover {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.header-part .hd-2 .nav-part .navv:hover .menu ul {
  display: block;
}

.header-part .hd-2 .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-part .hd-2 .account .d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.header-part .hd-2 .account .d div {
  padding-right: 2em;
}

.content {
  margin-top: 2em;
  height: 55em;
}

.content .categories div .elements {
  overflow: hidden;
  margin-top: 1em;
  position: relative;
}

.content .categories div .elements img:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .categories div .elements button {
  position: absolute;
  right: 27%;
  top: 85%;
  height: 2.5em;
  width: 10em;
  background-color: #fefefe;
}

.content .categories div .elements button:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  background-color: #e65540;
}

.content .categories div .elements .wg {
  top: 80%;
}

.content .categories div .sign {
  background-color: #f2f2f2;
  height: 20em;
  margin-top: 1em;
}

.content .categories div .sign .writings {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 15em;
  padding-top: 2em;
}

.content .categories div .sign button {
  border-radius: 23px;
  width: 40%;
  background-color: #111;
  color: #f2f2f2;
  height: 3em;
  margin-left: 6em;
}

.content .categories div .sign button:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  background-color: #e65540;
}

.featured {
  margin-top: 1em;
}

.featured .owl-carousel {
  margin-top: 3em;
}

.featured .owl-carousel .item {
  position: relative;
}

.featured .owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.featured .owl-carousel .item button {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  top: 70%;
  left: 27%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  background-color: #111;
  color: #fff;
  border-radius: 12px;
}

.featured .owl-carousel .item button:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  background-color: #e65540;
}

.featured .owl-carousel .item i {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  top: 7%;
  right: 3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  color: #222;
}

.featured .owl-carousel .item div a {
  text-decoration: none;
  color: #919192;
  font-weight: 300;
}

.featured .owl-carousel .item div a:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  color: #e65540;
}

.featured .owl-carousel .item div p {
  font-weight: 300;
  color: #767776;
}

.salepart {
  background-color: #f2f2f2;
}

.salepart .lookbook {
  position: relative;
  background-position: center center;
}

.salepart .lookbook .lookbook-wrt {
  overflow: hidden;
}

.salepart .lookbook .lookbook-wrt h2, .salepart .lookbook .lookbook-wrt a {
  color: #ffffff;
  position: absolute;
}

.salepart .lookbook .lookbook-wrt h2 {
  font-size: 3em;
  top: 3em;
  left: 3.5em;
}

.salepart .lookbook .lookbook-wrt a {
  left: 14em;
  top: 18em;
}

.salepart .lookbook img:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.salepart .glasses {
  position: relative;
  background-position: center center;
}

.salepart .glasses .gls-wrt {
  overflow: hidden;
}

.salepart .glasses .gls-wrt a, .salepart .glasses .gls-wrt div {
  position: absolute;
}

.salepart .glasses .gls-wrt a {
  top: 14em;
  left: 12em;
  color: #555;
}

.salepart .glasses .gls-wrt div {
  top: 16em;
  left: 14em;
}

.salepart .glasses .gls-wrt div p {
  color: #f09b40;
}

.salepart .glasses .timer {
  position: absolute;
  top: 20em;
  left: 12em;
}

.salepart .glasses .timer div {
  border: 1px solid black;
  height: 3em;
  width: 3em;
}

.salepart img:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.headings {
  text-align: center;
}

.blog {
  padding: 1em;
}

.blog .blog-card {
  margin-top: 3em;
}

.blog .blog-card .cards .card-wrt {
  margin-top: 1em;
}

.blog .blog-card .cards .card-wrt .author {
  height: 40px;
}

.blog .blog-card .cards .card-wrt h5 {
  font-family: Montserrat-Medium;
  color: #333;
}

.blog .blog-card .cards .card-wrt p {
  font-family: Montserrat-Regular;
  color: #888;
}

.blog .blog-card .cards .img-p {
  overflow: hidden;
}

.blog .blog-card .cards .img-p img:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.comment {
  padding: 0;
  padding-top: 5em;
  padding-bottom: 5em;
}

.comment .flex-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.comment .flex-img .flex-card {
  position: relative;
}

.comment .flex-img .flex-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #333;
  width: 100%;
}

.comment .flex-img .flex-card .overlay .textlay {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1em;
  position: absolute;
  text-align: center;
  padding: 2em;
}

.comment .flex-img .flex-card .overlay .textlay i {
  position: absolute;
  left: 10%;
  top: 10%;
  cursor: pointer;
}

.comment .flex-img .flex-card .overlay .textlay div {
  margin-top: 4em;
}

.comment .flex-img .flex-card .overlay .textlay div p {
  margin-top: 1em !important;
}

.comment .deliver {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment .deliver div {
  text-align: center;
}

.comment .deliver div h5 {
  font-family: Montserrat-Regular;
  color: #555;
}

.comment .deliver div i a {
  font-family: Montserrat-Italic;
  color: #888;
}

.comment .deliver .border-div {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.ft-part {
  padding: 2em;
  background-color: #f2f2f2;
}

.ft-part .ft-navs .info ul {
  margin-top: 1em !important;
}

.ft-part .ft-navs .info ul li {
  display: inline;
  padding-right: 1em;
  font-size: 1em;
}

.ft-part .ft-navs .info ul li a {
  color: #888888;
}

.ft-part .ft-navs .info p {
  margin-top: 2em !important;
  color: #696869;
}

.ft-part .ft-navs div ul li {
  padding-top: 1em;
}

.ft-part .ft-navs div ul li a {
  color: #888888;
}

.ft-part .ft-navs div h6 {
  font-family: Montserrat-Bold;
  color: #222;
  font-weight: bold;
}

.ft-part .ft-navs .subs input {
  margin-top: 2em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.ft-part .ft-navs .subs button {
  margin-top: 1em;
  border-radius: 23px;
  width: 50%;
  height: 3em;
  background-color: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
}

.ft-part .ft-navs .bank-card ul li {
  display: inline;
}

.carousel h1, .carousel h2, .carousel button {
  position: absolute;
}

.carousel button {
  border-radius: 23px;
  width: 10%;
  background-color: #111;
  color: #f2f2f2;
  height: 3em;
  top: 17em;
  left: 42em;
  border: none;
  background-color: #fff;
  color: #111;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.carousel button:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #e65540;
}

.carousel h1 {
  font-size: 3.5em;
  top: 3.3em;
  left: 9.8em;
  font-weight: bold;
  color: #fff;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.carousel h2 {
  top: 4em;
  left: 18.4em;
  color: #f2f2f2;
  font-weight: 100;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.ft-part .ft-navs .info li i:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  color: #e65540;
}

.ft-part .ft-navs div ul li a {
  text-decoration: none;
}

.ft-part .ft-navs div ul li a:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  color: #e65540;
}

.ft-part .ft-navs .subs button:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  background-color: #e65540;
}

.ft-part .bank-card img {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
/*# sourceMappingURL=hp1.css.map */