* {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.img-opacity {
  opacity: 0.3;
}

.i-opacity {
  opacity: 1 !important;
}

.overlay-opacity {
  opacity: 0.9 !important;
}

.textlay-opacity {
  opacity: 1 !important;
}

.header-part .hd-1 {
  position: relative;
  background-color: #e65540;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-part .hd-1 .ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-part .hd-1 .ad span {
  color: #fff;
  font-weight: 100;
}

.header-part .hd-1 .ad a {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.header-part .hd-1 .times i {
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 30%;
  color: #f7ccc5;
}

.header-part .hd-1 .times i:hover {
  color: #fff;
}

.header-part .hd-2 {
  background-color: #fff;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-part .hd-2 .logo-part ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

.header-part .hd-2 .logo-part ul li a {
  color: #888888;
}

.header-part .hd-2 .logo-part ul li a:hover {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  color: #e65540;
}

.header-part .hd-2 .nav-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.header-part .hd-2 .nav-part div {
  text-align: center;
}

.header-part .hd-2 .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-part .hd-2 .account .logo-hd2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6em;
}

.header-part .hd-2 .account .logo-hd2 div {
  text-align: center;
  width: 3em;
}

.header-part .hd-2 .account .logo-hd2 > :first-child {
  border-right: 1px solid #888888;
}

.header-part .hd-2 .account .slct-part {
  width: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-part .hd-2 .account .slct-part #slct {
  background-color: transparent;
  border: none;
  color: #888888;
  outline: none;
}

.header-part .hd-2 .account .slct-part span {
  color: #888888;
}

.header-part .hd-3 .homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-part .hd-3 .homepage .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-part .hd-3 .homepage .container ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-part .hd-3 .homepage .container ul .menu ul {
  position: absolute;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  z-index: 100;
  background-color: #222;
  width: 10em;
  height: 7em;
  padding: 1em !important;
  display: none;
}

.header-part .hd-3 .homepage .container ul .menu ul li {
  padding: .15em !important;
}

.header-part .hd-3 .homepage .container ul .menu ul li a {
  color: #fff;
}

.header-part .hd-3 .homepage .container ul .menu ul li a:hover {
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  color: #e65540;
  text-decoration: none;
}

.header-part .hd-3 .homepage .container ul .menu:hover ul {
  display: block;
}

.header-part .hd-3 .homepage .container ul li a {
  color: #333;
}

.header-part .hd-3 .homepage .container ul li:hover {
  border-bottom: 1px solid black;
}

.carousel-item {
  position: relative;
}

.carousel-item .wrt-carousel {
  position: absolute;
  left: 22%;
  top: 30%;
}

.carousel-item .wrt-carousel div {
  text-align: center;
  height: 6em;
}

.carousel-item .wrt-carousel div h2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.carousel-item .wrt-carousel div h2 span {
  color: #fff;
  font-size: 2em;
  letter-spacing: .1em;
  border-bottom: 5px solid;
  font-weight: bold;
}

.carousel-item .wrt-carousel div h4 {
  color: #f8f8f8;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.carousel-item .wrt-carousel div button {
  border-radius: 23px;
  width: 20%;
  background-color: #111;
  color: #f2f2f2;
  height: 3em;
  border: none;
  background-color: #fff;
  color: #111;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.carousel-item .wrt-carousel div button:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  background-color: #e65540;
  color: #fff;
}

.swb {
  padding: 2em;
}

.swb .row div {
  position: relative;
}

.swb .row div .img-div {
  overflow: hidden;
}

.swb .row div .img-div img:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.swb .row div .btn-item {
  position: absolute;
  top: 80%;
  left: 36%;
}

.swb .row div .btn-item button {
  height: 2.5em;
  width: 9em;
  background-color: #fefefe;
  border: none;
}

.swb .row div .btn-item button:hover {
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  background-color: #e65540;
  color: #fff;
}

.swb img {
  width: 100%;
}

.products .intro-item {
  text-align: center;
}

.products .intro-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
  margin: auto;
}

.products .intro-item ul a {
  color: #888;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.products .intro-item ul a:hover {
  color: #333;
  border-bottom: 1px solid black;
}

.products .row div {
  position: relative;
}

.products .row div img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.products .row div button {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  top: 70%;
  left: 28%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  background-color: #111;
  color: #fff;
  border-radius: 12px;
  border: none;
  width: 8em;
  height: 2em;
}

.products .row div button:hover {
  -webkit-transition-duration: .7s;
          transition-duration: .7s;
  background-color: #e65540;
}

.products .row div i {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  top: 7%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  color: #222;
}

#bckg-img {
  background-image: url("/img/bg-video-01.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  height: 40em;
  background-position: center -70.7604px;
}

#bckg-img .row {
  position: absolute;
  top: 40%;
  left: 40%;
  text-align: center;
  width: 20%;
  margin: auto;
}

#bckg-img .row h2 {
  font-size: 3em;
  color: #fff;
}

#bckg-img .row a {
  color: #fff;
}

#bckg-img .row .modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35em;
}

#bckg-img .row .modal-dialog .modal-content {
  width: 50em;
  background-color: #222;
}

.blog {
  padding: 1em;
}

.blog .blog-card {
  margin-top: 3em;
}

.blog .blog-card .cards .card-wrt {
  margin-top: 1em;
}

.blog .blog-card .cards .card-wrt .author {
  height: 40px;
}

.blog .blog-card .cards .card-wrt h5 {
  font-family: Montserrat-Medium;
  color: #333;
}

.blog .blog-card .cards .card-wrt p {
  font-family: Montserrat-Regular;
  color: #888;
}

.blog .blog-card .cards .img-p {
  overflow: hidden;
}

.blog .blog-card .cards .img-p img {
  width: 100%;
}

.blog .blog-card .cards .img-p img:hover {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.comment {
  padding: 0;
  padding-top: 5em;
  padding-bottom: 5em;
}

.comment .flex-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.comment .flex-img .flex-card {
  position: relative;
}

.comment .flex-img .flex-card .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #333;
  width: 100%;
}

.comment .flex-img .flex-card .overlay .textlay {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1em;
  position: absolute;
  text-align: center;
  padding: 2em;
}

.comment .flex-img .flex-card .overlay .textlay i {
  position: absolute;
  left: 10%;
  top: 10%;
  cursor: pointer;
}

.comment .flex-img .flex-card .overlay .textlay div {
  margin-top: 4em;
}

.comment .flex-img .flex-card .overlay .textlay div p {
  margin-top: 1em !important;
}

.comment .flex-img .flex-card img {
  width: 100%;
}

.comment .deliver {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment .deliver div {
  text-align: center;
}

.comment .deliver div h5 {
  font-family: Montserrat-Regular;
  color: #555;
}

.comment .deliver div i a {
  font-family: Montserrat-Italic;
  color: #888;
}

.comment .deliver .border-div {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.ft-part {
  padding: 2em;
  background-color: #f2f2f2;
}

.ft-part .ft-navs .info ul {
  margin-top: 1em !important;
}

.ft-part .ft-navs .info ul li {
  display: inline;
  padding-right: 1em;
  font-size: 1em;
}

.ft-part .ft-navs .info ul li i:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  color: #e65540;
}

.ft-part .ft-navs .info ul li a {
  color: #888888;
}

.ft-part .ft-navs .info p {
  margin-top: 2em !important;
  color: #696869;
}

.ft-part .ft-navs div ul li {
  padding-top: 1em;
}

.ft-part .ft-navs div ul li a {
  color: #888888;
  text-decoration: none;
}

.ft-part .ft-navs div ul li a:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  color: #e65540;
}

.ft-part .ft-navs div h6 {
  font-family: Montserrat-Bold;
  color: #222;
  font-weight: bold;
}

.ft-part .ft-navs .subs input {
  margin-top: 2em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.ft-part .ft-navs .subs button {
  margin-top: 1em;
  border-radius: 23px;
  width: 50%;
  height: 3em;
  background-color: #111;
  color: #f2f2f2;
  outline: none;
  border: none;
}

.ft-part .ft-navs .subs button:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  background-color: #e65540;
}

.ft-part .ft-navs .bank-card ul li {
  display: inline;
}

.ft-part .ft-navs .bank-card ul li img {
  cursor: pointer;
}
/*# sourceMappingURL=hp2.css.map */